<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />

    <title>employeeManagement</title>

    <script src="js/app.js"></script>
    <script src="js/index.js"></script>

</head>

<body  ng-controller = "employeeDetailsController">

    <h3>Welcome to Employee Page</h3>

    <p ng-if="employeeDetails.count==0">No Employees found</p>

    <table border="1px block solid">
        <tr ng-repeat="employee in employeeDetails">
            <td>{{employee.empId}}</td>
            <td>{{employee.empName}}</td>
            <td>{{employee.empSalary}}</td>
            <td>{{employee.empPlace}}</td>
        </tr>
    </table>
</body>
</html>